Repository rayhanadev/personal-website-v7: changes, and which lint-staged commands are due for each by the changed paths.
All: astro check, prettier --write

feat: add image service
  bun.lockb
  package.json
Due: none

fix: don't lazy-load noise grid
  src/pages/index.astro
Due: astro check

feat(blog): publish explode
  public/images/2025-01-02-explode/personal-website-v6.png
  src/content/blog/posts/_2024-12-17-hello-world.mdx
  src/content/blog/posts/_2025-01-02-explode.mdx
Due: none

fix(blog): publish post
  src/content/blog/posts/2025-01-02-explode.mdx
Due: none

fix: gitCommitRemarkPlugin use correct variable
  src/lib/blog/gitCommitRemarkPlugin.ts
Due: astro check, prettier --write

feat: actually publish
  src/content/blog/posts/2025-01-02-explode.mdx
Due: none

fix(rss): invalid date properties
  src/pages/feed.xml.ts
Due: astro check, prettier --write

fix(rss): correct author format
  src/pages/feed.xml.ts
Due: astro check, prettier --write

feat(seo): update <link> containing rss feed
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
Due: astro check

feat(rss): spec-consistent rss feed
  bun.lockb
  package.json
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
  src/pages/feed.xml.ts
  src/pages/rss.xml.ts
Due: astro check, prettier --write

fix: standardization of blog title
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
  src/lib/consts.ts
  src/pages/rss.xml.ts
Due: astro check, prettier --write

fix(typography): remove ugly blockquote typography
  tailwind.config.ts
Due: none

fix: make max width for blogpost match prose
  src/pages/thoughts/[id].astro
Due: astro check

feat(rss): more spec-consistent
  astro.config.ts
  bun.lockb
  package.json
  src/pages/rss.xml.ts
Due: astro check, prettier --write

feat(resume): use subheadings and anchors
  src/pages/resume/index.astro
Due: astro check

fix(blog): use correct anchors
  src/content/blog/posts/2025-01-02-explode.mdx
Due: none

feat: add fediverse author attribution
  src/layouts/PostLayout.astro
Due: astro check

feat: add vcard
  public/headshot-alt.png
  src/lib/consts.ts
  src/pages/contact.vcf.ts
Due: astro check, prettier --write

feat: update typography for images
  tailwind.config.ts
Due: none

fix: remove dead script
  public/script.js
Due: astro check, prettier --write

feat: add esoteric files
  src/pages/humans.txt.ts
  src/pages/version.txt.ts
  src/pages/whois.txt.ts
Due: astro check, prettier --write

chore: upgrade to tailwindcss v4
  astro.config.ts
  bun.lockb
  package.json
  src/styles/global.css
Due: prettier --write

fix: remove top padding
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
Due: astro check

fix: update configs from tailwindcss v4
  astro.config.ts
  src/styles/global.css
  tailwind.config.ts
Due: prettier --write

fix: visual bug with svg scaling
  src/pages/index.astro
Due: astro check

feat: update experiences page
  src/pages/resume/index.astro
Due: astro check

fix: add spacing between paragraphs
  bun.lockb
  package.json
  src/content/blog/posts/_2025-01-27-education.md
  src/pages/thoughts/[id].astro
Due: astro check

feat(blog): education i
  src/content/blog/posts/2025-01-27-education.md
  src/content/blog/posts/_2025-01-27-education.md
  src/content/blog/posts/_2025-02-10-education-2.md
  src/pages/thoughts/[id].astro
Due: astro check

chore: unencrypt published posts
  .gitattributes
  src/content/blog/posts/2025-01-02-explode.mdx
  src/content/blog/posts/2025-01-27-education.md
Due: none

fix(blog): formatting changes
  src/content/blog/posts/2025-01-27-education.md
Due: none

Path conditions:
  astro check: any of: */**/*.{js,jsx,ts,tsx,astro}
  prettier --write: any of: */**/*.{js,jsx,ts,tsx,json,css}
