Repository rayhanadev/personal-website-v7: changes, and which lint-staged commands are due for each by the changed paths.
All: astro check, prettier --write

feat: use deploy script instead of automatic deploy
  bun.lockb
  package.json
  wrangler.toml
Due: none

ci: fix broken cache step in workflow
  .github/workflows/lint.yml
Due: none

refactor: move to git-crypt
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/97C704C76B2682EBF51103A57A5E74BF31C9B144.gpg
  .gitattributes
  .gitignore
  .husky/pre-commit
  scripts/decrypt-content.ts
  scripts/encrypt-content.ts
  src/content/blog/2024-12-17-hello-world.mdx
  src/content/blog/_2024-12-18-burst.mdx
  src/content/blog/_2024-12-23-encrypt.mdx
  src/content/blog/artifacts/2024-12-17-hello-world.mdx.gpg
  src/content/blog/artifacts/_2024-12-18-burst.mdx.gpg
  src/content/blog/artifacts/_2024-12-23-encrypt.mdx.gpg
Due: astro check, prettier --write

feat: setup obsidian vault in repo
  .gitattributes
  .gitignore
  src/content.config.ts
  src/content/blog/posts/2024-12-17-hello-world.mdx
  src/content/blog/posts/_2024-12-18-burst.mdx
  src/content/blog/posts/_2024-12-23-encrypt.mdx
Due: astro check, prettier --write

fix: more robust content pool sourcing
  src/content.config.ts
  src/lib/blog/utils.ts
  src/lib/consts.ts
Due: astro check, prettier --write

chore: remove unused scripts
  package.json
Due: none

chore: upgrade packages
  bun.lockb
  package.json
Due: none

feat: add stub resume page
  src/pages/resume.astro
Due: astro check

fix: clarify Link component param
  src/components/Link.astro
  src/pages/index.astro
Due: astro check

feat(seo): add /llms.txt file
  src/pages/llms.txt.ts
Due: astro check, prettier --write

feat(seo): add /llms-full.txt file
  src/pages/llms-full.txt.ts
Due: astro check, prettier --write

fix(scripts): deploy on main branch
  package.json
Due: none

fix(seo): improve blog rendering
  src/pages/llms-full.txt.ts
Due: astro check, prettier --write

feat: make responsive
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
  src/pages/index.astro
  src/pages/thoughts/[id].astro
  src/pages/thoughts/index.astro
Due: astro check

feat(seo): optimize meta tags
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
Due: astro check

fix: use lg breakpoint instead of md
  src/pages/index.astro
  src/pages/thoughts/[id].astro
  src/pages/thoughts/index.astro
Due: astro check

fix: apply dynamic viewport height on all layouts
  src/content/blog/posts/_2024-12-18-burst.mdx
  src/content/blog/posts/_2024-12-23-encrypt.mdx
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
Due: astro check

fix: reset width on lg breakpoint
  src/pages/thoughts/index.astro
Due: astro check

fix: return 'go back' link on lg breakpoint
  src/pages/thoughts/[id].astro
Due: astro check

fix: alternate fonts should be monospace
  tailwind.config.ts
Due: none

fix: bump font size down for smaller devices
  src/pages/index.astro
Due: astro check

feat: add resume page
  astro.config.ts
  public/resume.pdf
  src/components/NavBar.astro
  src/lib/consts.ts
  src/pages/index.astro
  src/pages/resume.astro
  src/pages/resume/index.astro
  src/pages/thoughts/index.astro
  src/styles/global.css
Due: astro check, prettier --write

feat: replace ga with umami
  env.ts
  src/components/Link.astro
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
  src/pages/index.astro
Due: astro check

feat: use proxy for umami
  public/script.js
  src/layouts/Layout.astro
  src/layouts/PostLayout.astro
Due: astro check, prettier --write

fix: incorrectly rendering link
  src/components/Link.astro
  src/pages/index.astro
Due: astro check

feat: responsive fixes
  src/pages/index.astro
  src/pages/resume/index.astro
  src/pages/thoughts/index.astro
Due: astro check

fix: more responsiveness fixes
  src/pages/resume/index.astro
  src/pages/thoughts/index.astro
Due: astro check

feat: fix all the responsiveness
  src/pages/index.astro
  src/pages/resume/index.astro
  src/pages/thoughts/index.astro
  src/styles/global.css
Due: astro check, prettier --write

ci: build for staging and prod
  .env.example
  .gitignore
  astro.config.ts
  env.ts
  package.json
Due: none

feat: add static assets
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/headshot.png
  public/manifest.json
  public/mstile-150x150.png
Due: prettier --write

fix: incorrect webring url
  src/pages/index.astro
Due: astro check

feat: webring parameter
  src/components/WebringLink.astro
  src/pages/index.astro
Due: astro check

feat: reorder webring
  src/pages/index.astro
Due: astro check

fix(webring): main webring link
  src/components/WebringLink.astro
Due: astro check

fix: incorrect env and sitemap
  astro.config.ts
  bun.lockb
  package.json
Due: none

feat: use svg for hero text
  src/pages/index.astro
Due: astro check

fix: sorting of blog posts
  src/pages/thoughts/index.astro
Due: astro check

feat: add commit property
  astro.config.ts
  bun.lockb
  package.json
  src/lib/blog/gitCommitRemarkPlugin.ts
  src/lib/blog/utils.ts
  src/pages/thoughts/[id].astro
Due: astro check, prettier --write

feat: add noise grid
  src/assets/hero-noise-grid.webp
  src/pages/index.astro
Due: astro check

fix: incorrect sorting
  src/pages/thoughts/index.astro
Due: astro check

Path conditions:
  astro check: any of: */**/*.{js,jsx,ts,tsx,astro}
  prettier --write: any of: */**/*.{js,jsx,ts,tsx,json,css}
